h1{
    color: rgb(49, 141, 211);
    text-align: center;
}
body{
    border-style: solid;
    border-radius: 10px;
    border-color: beige;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 15px gray;
}
form{
    text-align: center;
}
#display_final{
    text-align: center;
    font-weight: bold;
    color: red;
}
#temp_input{
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    width: 150px;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    }

#submit{
    color: black;
    background-color: red;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    height: 30px;
    width: 60px;
} 

#submit:hover{
    background-color: rgb(247, 103, 103);
    color: black;
    box-shadow: 0px 0px 4px black; 
    transition: backgroung-color 0.75ms;
    animation: buttonHover;
    animation-duration: 850ms;
    animation-iteration-count: 1;
}

@keyframes buttonHover{
    50%{transform: translateY(-6px)};
}